/***-------------***/
/***  VARIABLES  ***/
/***-------------***/
/***-------------***/
/*** SITE STYLES ***/
/***-------------***/
/* line 61, ../_compass/style.scss */
.nav-main-button, #site-name, #site-tagline, .article-title, h2, h3, h4, h5 {
  font-family: "Malamondo Regular", sans-serif;
  font-size-adjust: 0.5;
  font-weight: normal;
  font-style: normal;
}

/* line 68, ../_compass/style.scss */
#site-header {
  background: #CDD4B9;
  border-bottom: .5em solid #4A4A44;
  border-left: .4em solid #4A4A44;
  border-right: .4em solid #4A4A44;
  border-bottom-right-radius: 1em;
  border-bottom-left-radius: 1em;
}

/* line 77, ../_compass/style.scss */
.nav-main-button {
  font-size: 2.4em;
  margin-left: .5em;
  margin-right: .2em;
}

/* line 83, ../_compass/style.scss */
.awesome-link {
  font-family: "Malamondo Regular", sans-serif;
}

/* line 87, ../_compass/style.scss */
.read-more {
  background: #CDD4B9;
  padding: .5em;
  border-radius: .5em;
}

/* line 93, ../_compass/style.scss */
.article-info {
  color: #788F85;
  font-size: 1em;
}

/* line 98, ../_compass/style.scss */
#article-author {
  font-size: 1.2em;
  padding-left: .4em;
}

/* line 103, ../_compass/style.scss */
#article-author:after {
  padding-left: .2em;
  padding-right: .2em;
  color: #788F85;
  content: " | ";
}

/* line 110, ../_compass/style.scss */
#site-name {
  color: #4A4A44;
  margin-bottom: 0;
  font-size: 3.2em;
}

/* line 116, ../_compass/style.scss */
#site-tagline {
  margin-top: -.8em;
  margin-bottom: 0px;
}

/* line 121, ../_compass/style.scss */
#featured-header {
  background: #4A4A44;
  font-size: 2em;
  padding-bottom: .4em;
  padding-left: .6em;
  margin-bottom: 0px;
}

/* line 130, ../_compass/style.scss */
#featured-header small {
  color: #E3DFC5;
}

/* line 134, ../_compass/style.scss */
#featured-body {
  padding-top: 20px;
  padding-left: 20px;
  padding-right: 20px;
}

/* line 140, ../_compass/style.scss */
#featured-panel {
  padding-top: 0;
  padding-left: 0;
  padding-right: 0;
  border: .2em solid #4A4A44;
  border-radius: .5em;
}

/* line 148, ../_compass/style.scss */
p {
  font-family: "Abril Text Regular", Georgia, 'Times New Roman', Times, serif;
  font-size-adjust: 0.5;
  font-weight: normal;
  font-style: normal;
  font-size: 1.2em;
}

/* line 156, ../_compass/style.scss */
.article-title {
  margin-bottom: -.25em;
}

/* line 161, ../_compass/style.scss */
a, .article-title, h1, h2, h3, h4, h5 {
  color: #ED4652;
}

/* line 165, ../_compass/style.scss */
.lead-in {
  font-size: 1.4em;
  line-height: 1.6em;
}

/* line 170, ../_compass/style.scss */
body {
  background: #F1EFDF;
}

/* line 174, ../_compass/style.scss */
#lead-image {
  border: .4em solid #4A4A44;
  border-radius: 1em;
  background: #f2f2f2;
}

/*---- Main Content ----*/
/*---- Aside ----*/
/***----------------***/
/*** SECTION STYLES ***/
/***----------------***/
/*---- About ----*/
/*---- Media Queries ----*/
/* We use this media query to add styles to any device that supports media queries */
