<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
        <title>{{ page.title }} - by Jason Perez</title>
        <meta name="Description" content="{{ page.description }}">
        <meta name="robots" content="NOODP">
        <meta name="googlebot" content="NOODP">
        <meta name="viewport" content="width=device-width">

        <!-- zurb foundation css links -->
        <link rel="stylesheet" href="/css/normalize.css" media="screen">
        <link rel="stylesheet" href="/css/foundation.css" media="screen">
        <link rel="stylesheet" href="/css/grid-5.css" media="screen">
        <link rel="stylesheet" href="/css/style.css" media="screen">

        <!-- favicon and atom feed -->
        <link rel="shortcut icon" href="/images/favicon.ico">
        <link href="/atom.xml" type="application/atom+xml" rel="alternate" title="Atom feed for all site content">

    </head>
    <body>
      <!-- Site Header -->
      <header id="site-header" class="row">
        <hgroup class="small-3 small-centered columns" id="site-identity">
          <h1 id="site-name">Perezish</h1>
          <h2 class="hide-for-small" id="site-tagline"><small>on people and apps</small></h2>
        </hgroup>
      </header>
      <nav class="nav-bar row" id="nav-position">
       <ul class="button-group large-12 medium-5 small-12 columns right">
         <li><a href="/" class="nav-main-button smooth">Home</a></li>
         <li><a href="/about" class="nav-main-button smooth">About</a></li>
        </ul>
      </nav>

      <!-- End Site Header -->


      <!-- Main Page Content and Sidebar -->

      <div id="site-main-content" class="row">

        <!-- Main Blog Content -->

          {{ content }}

        <!-- End Main Content -->


        <!-- Sidebar -->

        <aside class="large-3 small-12 columns">

          {% include featured.textile %}

        </aside>

        <!-- End Sidebar -->
      </div>

      <!-- End Main Content and Sidebar -->


      <!-- Site Footer -->

      <footer class="row">
        <div class="large-12 columns">
          <hr />
          <div class="row">
            <div class="small-6 columns">
              <p>&copy; 2013 - Jason Perez</p>
            </div>
            <nav class="small-6 columns">
              <ul class="inline-list right">
                <li><a href="http://www.linkedin.com/in/perezjason">LinkedIn</a></li>
                <li><a href="http://github.com/jperezish">GitHub</a></li>
              </ul>
            </nav>
          </div>
        </div>
      </footer>

      <script>
        (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
        (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
        m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
        })(window,document,'script','//www.google-analytics.com/analytics.js','ga');

        ga('create', 'UA-44764937-1', 'perezish.com');
        ga('send', 'pageview');
      </script>

      <script type="text/javascript">
        WebFontConfig = { fontdeck: { id: '40450' } };

        (function() {
          var wf = document.createElement('script');
          wf.src = ('https:' == document.location.protocol ? 'https' : 'http') +
          '://ajax.googleapis.com/ajax/libs/webfont/1/webfont.js';
          wf.type = 'text/javascript';
          wf.async = 'true';
          var s = document.getElementsByTagName('script')[0];
          s.parentNode.insertBefore(wf, s);
        })();
    </script>
    </body>
</html>