---
layout: default
---

<article class="large-9 small-12 columns">
  <header>
    <img id="lead-image" src="{{ page.lead-image }}" alt="{{ page.lead-image-alt }}" title="{{ page.lead-image-title }}" />
    <h1 class="article-title">{{ page.title }}</h1>
    <div id="article-details" class="hide-for-small">
      <time datetime="{{ page.date | date: "%Y-%m-%d" }}" class="icon">
          <em>{{ page.date | date: "%A" }}</em>
          <strong>{{ page.date | date: "%B" }}</strong>
          <span>{{ page.date | date: "%d" }}</span>
      </time>
      <p class="article-info article-info-heading">
        Written by:
      </p>
      <a class="article-info article-info-link" href="/about">{{ page.author }}</a>
      <p class="article-info article-info-heading">
        Illustrated by:
      </p>
      <a class="article-info article-info-link" href="/about">{{ page.author }}</a>
    </div>
  </header>

  {{ content }}

</article>
